@charset "utf-8";
.appT{position:relative; width: 100%; min-width: 320px; max-width: 640px;}
.appBtn{display: block; margin: .2rem auto; width: 5.12rem; line-height: 0.76rem; text-align: center; font-size: .3rem; color: #fff; border-radius: .38rem; text-decoration: none; background: #00a1e9;}